<!DOCTYPE html>
<html>
<head>
  <title>FridaySuit</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "component", media: "all" => true %>

  <%= javascript_include_tag "mondernizr.custon" %>
  <%= javascript_include_tag "application" %>
  

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
