<!DOCTYPE html>
<html>
<head>
  <title>FridaySuit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "component", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

 <%= javascript_include_tag "al-01-mondernizr.custon", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag "cbpSplitLayout", "data-turbolinks-track" => true %>
<%= javascript_include_tag "classie", "data-turbolinks-track" => true %>
</body>
</html>
